<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cepc">

    <permission
        android:name="com.example.cepc.READ_PERMISSION"
        android:label="User provider read permission"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.cepc.WRITE_PERMISSION"
        android:label="User provider read permission"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/user_pic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CEPC"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.main.LookActivity"></activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ui.main.VaccinesActivity" />
        <activity android:name=".ui.main.MineActivity" />
        <activity android:name=".ui.main.CodeActivity" />
        <activity android:name=".ui.main.RecordActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.CEPC.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.CEPC.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyService" />
    </application>

</manifest>